@charset "utf-8";

:root {
    --blue: #4285F4;
    --labelblue: #376fcb;
    --green: #4BD865;
    --labelgreen: #3fb454;
    --warning: #FF980F;
    --labelwarning: #b66d0b;
}

section {
    float: left;
    min-width: 150px;
    width: 33.33%;
    padding: 25px 0;
    min-height: 100px;
}

.checkbox {
    position: relative;
    display: inline-block;
    text-align: center;
}

.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.checkbox input:hover+label:after {
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 20%), 0 3px 8px 0 rgb(0 0 0 / 15%);
}

.checkbox input:checked+label:after {
    left: 40px;
}

.checkbox label {
    width: 90px;
    height: 42px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
}

.checkbox label:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    transition: 0.4s;
}

/* model-1 */
.model-1 .checkbox input:checked+label {
    background: var(--labelblue);
}

.model-1 .checkbox input:checked+label:after {
    background: var(--blue);
}

/* model-2 */
.model-2 .checkbox input:checked+label {
    background: var(--green);
}

.model-2 .checkbox label {
    width: 75px;
}

.model-2 .checkbox input:checked+label:after {
    left: 35px;
}

.model-2 .checkbox label:after {
    top: 0;
    width: 42px;
    height: 42px;
}

/* model-3 */
.model-3 .checkbox label {
    background: #fff;
    border: 1px solid #eee;
    height: 38px;
}

.model-3 .checkbox input:checked+label:after {
    background: var(--labelgreen);
    left: 55px;
}

.model-3 .checkbox label:after {
    background: #bbb;
    top: 3px;
    left: 5px;
    width: 30px;
    height: 30px;
}

/* model-4 */
.model-4 .checkbox input:checked+label {
    background: var(--labelwarning);
}

.model-4 .checkbox label {
    background: #bbb;
    height: 15px;
    width: 85px;
}

.model-4 .checkbox input:checked+label:after {
    background: var(--warning);
    left: 50px;
}

.model-4 .checkbox label:after {
    background: #fff;
    top: -12px;
    width: 36px;
    height: 36px;
}

.model-4 .checkbox input:hover+label:after {
    transform: scale(1.4, 1.4);
}

/* model-5 */
.model-5 .checkbox input:checked+label {
    background: var(--labelblue);
}

.model-5 .checkbox label {
    background: #bbb;
    height: 2px;
    width: 60px;
}

.model-5 .checkbox input:checked+label:after {
    background: var(--blue);
    left: 40px;
}

.model-5 .checkbox label:after {
    background: #bbb;
    top: -16px;
    width: 32px;
    height: 32px;
}

/* model-6 */
.model-6 .checkbox input:checked+label {
    border-color: #329043;
}

.model-6 .checkbox label {
    background: none;
    border: 5px solid #555;
    height: 32px;
}

.model-6 .checkbox label:after {
    background: #555;
    box-shadow: none;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
}

.model-6 .checkbox input:checked+label:after {
    background: #3fb454;
    left: 60px;
}

/* model-7 */
.model-7 .checkbox:after {
    content: '\f00d';
    font-family: FontAwesome;
    color: #aaa;
    position: relative;
    right: 30px;
    bottom: 15px;
}

.model-7 .checkbox:before {
    content: '\f00c';
    font-family: FontAwesome;
    position: relative;
    left: 35px;
    bottom: 15px;
    color: #fff;
    z-index: 1;
}

.model-7 .checkbox input:checked+label {
    background: #4BD865;
}

.model-7 .checkbox label {
    width: 80px;
    background: #EAEAEA;
    box-shadow: 0 0 1px 2px rgb(0 0 0 / 15%);
}

.model-7 .checkbox label:after {
    top: 0;
    width: 42px;
    height: 42px;
}

/* model-8 */
.model-8 .checkbox input:checked+label {
    border-color: #329043;
}

.model-8 .checkbox label {
    background: none;
    border: 3px solid #777;
    height: 34px;
    width: 86px;
    border-radius: 20px;
}

.model-8 .checkbox:after {
    content: 'OFF';
    font-family: Arial;
    position: absolute;
    color: #666;
    top: 12px;
    right: 15px;
}

.model-8 .checkbox input:checked+label:after {
    background: #3fb454;
    left: auto;
    transform: translateX(0px);
    -moz-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
    -o-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
    -webkit-transition: all 0.4s, width 0.2s linear, text-indent 0.3s linear;
    transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear 0.4s;
    width: 80px;
    text-indent: 0;
}

.model-8 .checkbox label:after {
    content: 'ON';
    font-family: Arial;
    color: #fff;
    line-height: 28px;
    text-indent: 100px;
    background: #777;
    overflow: hidden;
    box-shadow: none;
    border-radius: 14px;
    transform: translateX(-50px);
    -moz-transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
    -o-transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
    -webkit-transition: all 0.4s, width 0.2s linear, text-indent 0.4s linear;
    transition: all 0.4s 0.2s, width 0.2s linear, text-indent 0.4s linear;
    top: 3px;
    left: auto;
    right: 3px;
    width: 28px;
    height: 28px;
}